.App {
  text-align: center;
}
.toggle-btn{
background-color: #ff5e00;
color: white;
font: inherit;
padding: 8px;
margin: 10px;
border: 1px solid #97d2a1;
border-radius:3px;
box-shadow: -8px 8px 7px 0px #c3bfbf;
outline: none;
cursor: pointer;
}
.toggle-btn:hover {
    background-color: #00adff;
    color: white;
}
